
ul {
    background-color: red
}

p {
    background-color: #3f88c5;
}
head {
    background-color: blue;
}
body {
    background-color: #ffba08;
    overflow-x: hidden;
}
h2 {
    background-color: red;
}
