
ul {
    
    background-color: black;
    display: flex;
    flex-direction: row;
    background-color: #f5e427
}

p {
    background-color: #27f5e4;
}


body {
    background-color:black;
    overflow-x: hidden;
}

h1 {
  color:#f5e427;
  font-size: clamp(2rem, 5vw, 4rem);
}

h2 {
    display: inline-block;
    align-items: center;
    background-color: #e427f5;
    font-size: x-large;
}
a.button-link {
  align-items: center;
  max-width: 25vw;
  background-color: #FF5733;
  display: block;
  font-size: 1.5rem;
  color: black;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 35vw;
  margin-right: auto;
  text-decoration: none;
}
a.site-logo {
  max-width: 100px;
  height: auto;    
  display: block; 
}

.logo-title-group {
    font-size: 2rem;
    display: flex;
    align-items: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 15vw;          
}
.mainNav {
    max-width: 60vw;
    display: inline-block;
    flex-direction: row;
}
@media screen and (max-width: 768px) { 
    ul {
     
        display: flex; 
        height:min-content;
        font-size: 16px; 
        max-width: fit-content;        
        flex-direction: column; 
    }
   
}




.image {
    max-width: 30vw;
    margin-left: 30vw;
    margin-right: 30vw;
}
