
ul {
    background-color: #f5e427
}

p {
    background-color: #27f5e4;
}


body {
    background-color:black;
    overflow-x: hidden;
}
h2 {
    background-color: #e427f5;
}
ul li a:hover {
  background-color: white;
}