
ul {
    display: inline-flex;
    background-color: #f5e427
}

p {
    width: 60vw;
    background-color: #27f5e4;
}


body {
    background-color:black;
    overflow-x: hidden;
}
h2 {
    display: inline-block;
    background-color: #e427f5;
}
a.button-link {
  margin: 2vw;
  background-color: #f5e427;
  display: inline-block;
  font-size: 16pt;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}
a.site-logo {
  max-width: 300px;
  height: auto;    
  display: block; 
}

.logo-title-group {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    gap: 20vw;          
}