
ul {
    max-width: 100vw;
    display: inline-flex;
    background-color: #f5e427
}

p {
    width: 80vw;
    background-color: #27f5e4;
}


body {
    background-color:black;
    overflow-x: hidden;
}

h1 {
  color:#f5e427;
  font-size: clamp(2rem, 5vw, 4rem);
}

h2 {
    display: inline-block;
    align-items: center;
    background-color: #e427f5;
    font-size: x-large;
}
a.button-link {
  margin-left:5vw;
  margin-right:5vw;
  background-color: #f5e427;
  display: inline-block;
  font-size: 1.5rem;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}
a.site-logo {
  max-width: 100px;
  height: auto;    
  display: block; 
}

.logo-title-group {
    font-size: 2rem;
    display: flex;
    align-items: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    gap: 15vw;          
}
.mainNav {
    max-width: 50vw;
    display: flex;
}
